header{
  background-color: blue;
  background-image : url(img/art2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin : 0 auto;
  background-size: 100%;
  height: 200px;
  width: 60%;
  padding-left: 50px;
}

header{
  display: flex;
  padding: 20px;
  box-shadow: 0 0 8px #ccc;
}
.header2{
  margin-top: 50px;
  margin-left: 35px;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: 'Lora', serif;
}

body{
  text-align: left;
  background-color : #ebe3e1;
}

.profile{
  border-radius: 200px;
  border-radius: 50%;
  box-shadow: 0 0 3px #ccc;
  border : 1px solid white ;
  background-position: bottom;
}

.top{
  border-radius: 10%;
}

Button{
  display: inline-block;
  background-color : rgba(255,255,255 0.75)
  width : 100%;
  padding : 20px;
  margin : auto;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
  border-radius: 80%;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content : space-between;


}
.parent{
width : 30%;
padding : 20px 0;
flex-wrap: nowrap;
display: flex;
justify-content: space-between;
align-content: center;
margin : 20px auto;
padding : 20px;
}

section{
background-color : rgba(255,255,255, 0.25);
  font-family : 'open sans condensed' , sans-serif;
  background-repeat: no-repeat;
  background-position: top;
  margin : 0 auto;
  background-size: 100%;
  height: 400px;
  width: 75%;
  padding-left: 50px;
  box-shadow: 0 0 3px #ccc;
}
footer{
  text-align: center;
  margin : 0 auto;
  background-size: 50%;
  height: 100px;
  width: 60%;
  justify-content: space-between;
font-family: 'Montserrat', sans-serif;
color: black;
}
